node_modules
# Keep environment variables out of version control
.env

/generated/prisma
src/generated

# Database files
*.db
*.db-journal
*.sqlite
*.sqlite3
prisma/dev.db
prisma/dev.db-journal

# Build output
dist
